* {
    margin: 0;
    padding: 0;
}

/* html,body{
    overflow-x: hidden;

} */

.font16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.font18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.font20 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.font24 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.font48 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.font64 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0em;
    color: #FFFFFF;
}

/* design tools */
.design-tools {
    background-color: #000000;
    padding: 80px 10px;
}

.design-main-div {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.design-title {
    max-width: 590px;
}

.design-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 624px;
}

.design-card-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px;
    background-color: transparent;
    border-radius: 16px;
    border: 1PX SOLID #FFFFFF;
}

.design-card-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-container-1,
.card-container-2,
.card-con-2 {
    display: flex;

    gap: 24px;
}

.card-con-2 {
    max-width: 592px;
}


.card-title {
    max-width: 460px;
    font-weight: 500;
    color: #000000;
}

.card-title-1 {
    font-weight: 500;
    color: #FFFFFF !important;
}

.icon-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 78px;
}

.icon,
.more {
    cursor: pointer;
    text-decoration: none;
    color: #24806F;
}


/* creative */
.creative-container {
    margin: 140px auto;
    max-width: 1240px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.creative-card-container{
    display: flex;
    gap: 32px;
    align-items: flex-end;
}

.cre-title {
    color: #000000 !important;
    text-align: center;
    width: 582px;
    margin: 0 auto;
    font-weight: 500;
}

.cre-card {
    max-width: 392px;
    display: flex;
    flex-direction: column;
    

}

.cre-img {
    position: relative;
    z-index: 3;
}

.cre-card-content {
    position: relative;
    z-index: 2;
    margin-top: -16px;
    padding: 32px 24px 24px 24px;
    background-color: #24806F;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 0 20px 20px;
}

.cre-btn {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 12px 0;
    cursor: pointer;
}

/* control brand*/
.control-brand {
    margin: 140px auto 80px auto;
    max-width: 1176px;
    padding: 76px 32px 93px 32px;
    background-color: #24806F;
    display: flex;
    flex-direction: column;
    gap: 44px;

}



.control-title {
    width: 1114px;
}

.control-p-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-para {
    width: 461px;
}

.btns-div {
    display: flex;
    gap: 16px;
}


/* footer */
footer {
    background: #000000;
    margin: 0 auto;
    padding: 80px 10px 40px 10px;
}

.footer-main-div {
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px
}

.f-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 232px;
}

.f-logo {
    width: 85px;
}

.f-c {
    margin-bottom: 12px;
}

.links-market {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.logs-links-div {
    display: flex;
    gap: 170px;
    justify-content: space-between;
    align-items: flex-start;
}

.logs-div,
.links-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logs,
.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    list-style: none;
}

.f-market {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-c-btn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 356px;
}


.f-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;

}

.web {
    position: relative;
    z-index: 4;
}

.f-usa-div {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #24806F;
    border-radius: 24px;
    padding: 59px 36px;
    margin-top: -28px;
    z-index: 5;
}

.f-us-content {
    width: 332px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 20px;
}