@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-main: "Poppins", sans-serif;
  --font-white:#ffffff;
  --font-black:#000000;
  --font-24-color:#24806F;
  --font-60-color:#606060;
  --font-70-color:#707070;
  --font-A4-color:#A4A4A4;
  --font-ac-bg:#ACEBDF;
  --font-weight-400:400;
  --font-weight-500:500;
  --font-weight-600:600;
  --font-weight-700:700;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-main);
  overflow-x: hidden;
  touch-action: pan-y;
}

/* font style */
.font12 {
  font-size: 12px;
  font-weight: var(--font-weight-400);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-black);
}

.font16 {
  font-size: 16px;
  font-weight: var(--font-weight-400);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font18 {
  font-size: 18px;
  font-weight: var(--font-weight-400);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font20 {
  font-size: 20px;
  font-weight: var(--font-weight-400);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font22 {
  font-size: 22px;
  font-weight: var(--font-weight-600);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font24 {
  font-size: 24px;
  font-weight: var(--font-weight-500);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font28 {
  font-size: 28px;
  font-weight: var(--font-weight-500);
  line-height: 1.4em;
  /* letter-spacing: -0.3em; */
  color: var(--font-black);
}

.font48 {
  font-size: 48px;
  font-weight: var(--font-weight-400);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.font64 {
  font-size: 64px;
  font-weight: var(--font-weight-500);
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
}

.d-flex-col{
  display: flex;
  flex-direction: column;
}

/* navbar */
.nav {
  max-width: 1240px;
  padding: 48px 10px 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  width: 450px;
  /* padding: 0 12px; */
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 16px;
  background-color: #ededed;
  border-radius: 999px;
  
}

.nav-items li {
  color: #011f11;
  padding: 8px;
  cursor: pointer;
}

.btn {
  background-color: #011f11;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 23px;
  border-radius: 999px;
}
.mble-btn{
  display: none;
}

.nav-items li.active {
  background-color: var(--font-black);
  padding: 8px 24px;
  color: var(--font-white);
  border-radius: 999px;
}

.btn-bg {
  border: none;
  background-color: #011f11;
  color: var(--font-white);
}

#menu-toggle {
  display: none;
}

/* hero */
.hero {
  max-width: 1240px;
  margin: 0 auto;
  padding: 108px 10px 140px 10px;
  gap: 48px;
}

.hero-content {
  gap: 32px;
}

.hero-title {
  width: 1052px;
  font-weight: var(--font-weight-500);
  font-size: 128px;
  line-height: 0.85em;
  letter-spacing: -0.06em;
}

.h-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

/* design tools */
.design-tools {
  background-color: var(--font-black);
  padding: 80px 10px;
}

.design-main-div {
  max-width: 1240px;
  margin: 0 auto;
  gap: 40px;
}

.design-title {
  max-width: 590px;
}

.design-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: var(--font-white);
  border-radius: 16px;
  width: 624px;
}

.design-card-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 16px;
  border: 1px SOLID var(--font-white);
}

.design-card-div {
  gap: 24px;
}

.card-container-1,
.card-container-2,
.card-con-2 {
  display: flex;
  gap: 24px;
}

.card-con-2 {
  max-width: 592px;
}

.card-title {
  max-width: 460px;
  font-weight: var(--font-weight-500);
  color: var(--font-black);
}

.card-title-1 {
  font-weight: var(--font-weight-500);
  color: var(--font-white) !important;
}

.icon-btn {
  justify-content: space-between;
  align-items: flex-end;
  gap: 78px;
}

.icon,
.more {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-24-color);
}

/* fav project */
.fav-project {
  max-width: 1238px;
  margin: 140px auto;
  padding: 10px;
  gap: 48px;
}

.fav-title {
  background-color: var(--font-24-color);
  width: 536px;
  text-align: center;
  margin: 0 auto;
  border-radius: 28px 28px 28px 0px;
  padding: 20px 0;
}

.fav-content-container {
  gap: 30px;
}

.fav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 40px 0;
  border-bottom: 2px solid var(--font-A4-color);
  cursor: pointer;
  position: relative;
}

.fav-img {
  width: 298px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -60%) rotate(19deg);
  border-radius: 20px;
}

.fav-content:hover .fav-img {
  opacity: 1;
}

.fav-content:hover {
  padding-left: 40px;
}

.fav-content:hover .fav-c-1 {
  color: var(--font-24-color);
}

.number {
  color: var(--font-24-color);
  border: 1.5px solid var(--font-24-color);
  padding: 9px 19px;
  border-radius: 100px;
}

.fav-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.fav-2 {
  gap: 12px;
}

.fav-c-1 {
  font-weight: var(--font-weight-400);
  color: var(--font-A4-color);
}

/* customer experience */
.customer {
  background-color: #f5f5f5;
}

.customer-main-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 10px;
  display: flex;
  gap: 48px;
}

.customer-c1-c2 {
  justify-content: space-between;
  gap: 24px;
  max-width: 577px;
}

.cus-span {
  background-color: var(--font-ac-bg);
  border-radius: 10px;
}

.c-flex-1 {
  display: flex;
  flex-direction: column;
}

.c3 {
  gap: 24px;
}

.c-1 {
  gap: 12px;
}

.c-2 {
  background-image: url("./assets/2c30a67105f297f4810bfcaf8a792170297fcd40.jpg");
  padding: 0 0 37px 0;
  /* gap: 52px; */
  border-radius: 40px;
  border: 1px solid var(--font-black);
}

.c-2-content {
  padding: 0 25px;
  gap: 4px;
}

.forgot {
  padding: 18px;
  border-radius: 5.47px;
  color: var(--font-white);
  background-color: var(--font-24-color);
}

.customer-c3-c4-main {
  display: flex;
  gap: 16px;
}

.customer-c3-c4 {
  gap: 16px;
}

.s-1 {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #d9d9d9;
}

.sub-1 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.c3-sub-2 {
  gap: 8px;
}

.sub-2-para {
  color: var(--font-60-color);
  padding: 18px;
  background-color: var(--font-white);
  border-radius: 5.47px;
}

.c3 {
  border: 1px solid var(--font-black);
  border-radius: 20px;
  padding: 24px;
}

.c3-sub-1 {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.c3-sub-3 {
  gap: 4px;
  margin-top: -4px;
}

.c4 {
  background-color: var(--font-black);
  padding: 24px;
  border-radius: 20px;
}

.c4-con {
  gap: 4px;
}

.c4-sub-main {
  justify-content: space-between;
  gap: 16px;
}

.c4sub {
  background-color: var(--font-ac-bg);
  gap: 64px;
  padding: 24px 0;
  border-radius: 20px;
}

.c4sub-content {
  padding: 0 20px;
  gap: 4px;
}

.c4sub2 {
  background-color: var(--font-24-color);
  gap: 0;
  padding-top: 0;
}

.pie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.per-para {
  position: absolute;
  text-align: center;
}

.percent {
  font-weight: var(--font-weight-700);
  font-size: 41.92px;
  line-height: 1em;
  letter-spacing: -0.1em;
  text-align: center;
  vertical-align: middle;
  color: var(--font-white);
}

.conver {
  width: 150px;
  font-weight: var(--font-weight-700);
  color: var(--font-white);
}

/* creative */
.creative-container {
  margin: 140px auto;
  max-width: 1240px;
  padding: 0 10px;
  gap: 11px;
}

.creative-card-container {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}

.cre-title {
  color: var(--font-black) !important;
  text-align: center;
  width: 582px;
  margin: 0 auto;
  font-weight: var(--font-weight-500);
}

.cre-card {
  
}

.cre-img {
  position: relative;
  z-index: 3;
}

.cre-para {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cre-card-content {
  position: relative;
  z-index: 2;
  margin-top: -16px;
  padding: 32px 24px 24px 24px;
  background-color: var(--font-24-color);
  gap: 16px;
  border-radius: 0 0 20px 20px;
}

.cre-btn {
  background-color: transparent;
  border: 1px solid var(--font-white);
  border-radius: 100px;
  padding: 12px 0;
  cursor: pointer;
}

/* template */
.template-container {
  max-width: 1340px;
  margin: 0 auto 140px auto;
  padding-left: 100px;
  display: flex;
  gap: 16px;
}

.tem-span {
  background-color: var(--font-ac-bg);
  border-radius: 10px;
  padding: 0 10px;
}

.temp-content {
  gap: 58px;
  width: 515px;
  flex-shrink: 0;
}

.temp-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.temp-list {
  color: var(--font-black);
  padding: 12px 24px;
  list-style: none;
  border: 1px solid var(--font-black);
  border-radius: 100px;
  cursor: pointer;
  font-weight: var(--font-weight-500) !important;
}

.template-card-container {
  display: flex;
  gap: 16px;
  transition: transform 0.6s ease;
  will-change: transform;
}

.template-card {
  padding: 0 24px;
  gap: 16px;
  width: 296px;
  flex-shrink: 0;
}

.img-content {
  clip-path: polygon(
    0 11%,
    11% 11%,
    11% 0,
    89% 0,
    100% 0,
    100% 12%,
    100% 92%,
    76% 92%,
    76% 100%,
    13% 100%,
    0 100%,
    0 94%
  );

  background-image: url("./assets/c90f3808c62a7e7cb91b8a9c3317de3e82e913eb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 54px 21px;
  gap: 16px;
  border-radius: 16px;
  height: 188px;
}

.img-content-2 {
  background-image: url("./assets/136ede4ba031ad72571196592a3f6554e15d0d70.png");
}

.img-content-3 {
  background-image: none !important;
  background-color: var(--font-ac-bg) !important;
}

.t-title {
  font-weight: var(--font-weight-600);
}

.i-c {
  background-color: var(--font-white);
  padding: 16px;
  border-radius: 5.17px;
}

.i-c-2 {
  background-color: var(--font-24-color);
  padding: 16px;
  color: var(--font-white);
  border-radius: 5.17px;
}

.t-only-content {
  gap: 16px;
}

.try-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 0;
  border-radius: 100px;
  background-color: var(--font-black);
  font-weight: var(--font-weight-500);
  border: none;
  cursor: pointer;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

/* hover pause */
.slider-wrapper:hover .template-card-container {
  animation-play-state: paused;
}

/* category active */
.temp-list.active {
  background: #000;
  color: #fff;
  border-radius: 20px;
}

/* complete project */
.complete-bg {
  background-color: #443747;
}

.complete-project {
  max-width: 1340px;
  margin: 0 auto;
  padding-right: 100px;
  height: 832px;
  display: flex;
  /* gap: 84.5px; */
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  right: 100px;
  height: 100%;
  width: 1px;
  background-color: var(--font-white);
}

.line1 {
  right: 370px;
}

.line2 {
  right: 640px;
}

.line3 {
  right: 369px;
}

.arrow-btn {
  justify-content: end;
  gap: 15px;
  padding-bottom: 30px;
  padding-right: 10px;
}

.complete {
  font-weight: var(--font-weight-700);
  font-size: 42px;
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
  padding-bottom: 13px;
}

.complete-para {
  font-size: 12px;
  max-width: 326px;
  font-weight: var(--font-weight-400);
}

.circle-div-content {
  display: flex;
  gap: 17px;
  margin-top: 87px;
}

.circle {
  height: 656px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.circle-img {
  position: relative;
}

.semi-circle-down {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  left: -260px;
  top: 50%;
  transform: translateY(-50%);
  --fill: 120deg;
  background: conic-gradient(
    from 270deg,
    var(--font-white) 0deg,
    var(--font-white) 60deg,
    var(--font-white) 120deg,
    transparent var(--fill),
    transparent 180deg,
    transparent 240deg,
    transparent 300deg,
    transparent 360deg
  );

  transition: --fill 5s ease-in-out;

  -webkit-mask: radial-gradient(
    circle,
    transparent 63.4%,
    #000 64.3%,
    #000 65.8%,
    transparent 66.6%
  );
  mask: radial-gradient(
    circle,
    transparent 63.4%,
    #000 64.3%,
    #000 65.8%,
    transparent 66.6%
  );
}

.arrow-up,
.arrow-down {
  cursor: pointer;
}

.fruit-list {
  position: absolute;
  gap: 16px;
  padding-right: 30px;
}

.fruit-list li {
  font-weight: var(--font-weight-400);
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: 0em;
  list-style: none;
  color: var(--font-white);
  cursor: pointer;
}

.fruit-list li.active {
  font-weight: var(--font-weight-700);
}

.a {
  padding-left: 20px;
}

.b {
  text-align: right;
}

.fruit-content {
  padding-top: 32px;
}

.fruits {
  margin-top: 119px;
  transition: transform 1500ms cubic-bezier(0.96, 0.01, 0.02, 0.99);
}

/* .fruits {
  display: flex;
  flex-direction: column;
} */

.fruits > div:nth-child(odd) {
  margin-left: 270px;
}

.slider {
  width: 270px;
  height: 347px;
}

.fruit-img {
  width: 270px;
  height: 250px;
}

.f-n {
  font-weight: var(--font-weight-600);
  font-size: 70px;
  line-height: 1.4em;
  letter-spacing: 0em;
  color: var(--font-white);
  text-align: right;
  margin-bottom: -30px;
  font-family: "Inter", sans-serif;
}

.f-name {
  font-weight: var(--font-weight-600);
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0em;
  text-align: justify;
  color: var(--font-white);
  padding-bottom: 13px;
}

/* control brand*/
.contro {
  padding: 0 10px;
}

.control-brand {
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    89% 0,
    89% 12%,
    100% 12%,
    100% 91%,
    95% 91%,
    95% 100%,
    13% 100%,
    13% 94%,
    0 94%
  );

  margin: 140px auto 80px auto;
  max-width: 1176px;
  padding: 76px 32px 93px 32px;
  background-color: var(--font-24-color);
  gap: 44px;
  border-radius: 20px;
  background-image: url("./assets/Elements-geometric-shape-circle-point-target.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control-title {
  width: 1114px;
}

.control-p-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-para {
  width: 461px;
}

.btns-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 17px 32px;
  background: transparent;
  border: 1px solid var(--font-white);
  border-radius: 100px;
}

/* footer */
footer {
  background: var(--font-black);
  margin: 0 auto;
  padding: 80px 10px 40px 10px;
}

.footer-main-div {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
  gap: 60px;
}

.f-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 232px;
}

.f-logo {
  width: 85px;
}

.f-c {
  margin-bottom: 12px;
}

.sliding-btn-div2 {
  width: 184px;
}

.sliding-btn-div {
  position: relative;
  /* width: 206px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sliding-btn {
  text-decoration: none;
  color: var(--font-24-color);
  padding: 11.5px 17px 11.5px 50px;
  background-color: var(--font-white);
  border-radius: 100px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 206px !important; */
  position: relative;
}

.sliding-btn:hover {
  padding-left: 16px;
  padding-right: 50px;
  background-color: var(--font-24-color);
  color: var(--font-white);
}

.sliding-btn span {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  border-radius: 100%;
  background-color: var(--font-24-color);
  color: var(--font-white);
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliding-btn:hover span {
  left: calc(100% - 40px);
  background-color: var(--font-white);
  color: var(--font-24-color);
}

.links-market {
  gap: 60px;
}

.logs-links-div {
  display: flex;
  gap: 170px;
  justify-content: space-between;
  align-items: flex-start;
}

.logs-div,
.links-div {
  gap: 20px;
}

.logs,
.links {
  gap: 12px;
}

.link {
  list-style: none;
  cursor: pointer;
}

.f-market {
  gap: 20px;
}

.logo-c-btn {
  gap: 24px;
  width: 356px;
}

.f-2 {
  justify-content: center;
  gap: 48px;
}

.web {
  position: relative;
  z-index: 4;
}

.x {
  filter: url("#goo");
}

.f-usa-div {
  clip-path: polygon(
    30% 0%,
    100% 0,
    100% 30%,
    100% 75%,
    95% 100%,
    30% 100%,
    0 100%,
    0 0
  );
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--font-24-color);
  border-radius: 24px;
  padding: 59px 36px;
  margin-top: -28px;
  z-index: 5;
}

.f-us-content {
  width: 332px;
  gap: 20px;
}

.social-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  gap: 20px;
}

@media (max-width: 576px) {
  .font16 {
    font-size: 10px;
  }

  .font18 {
    font-size: 11px;
  }

  .font20 {
    font-size: 12px;
  }

  .font22 {
    font-size: 13px;
  }

  .font24 {
    font-size: 14px;
  }

  .font28 {
    font-size: 15px;
  }

  .font48 {
    font-size: 20px;
  }

  .font64 {
    font-size: 25px;
  }

  /* navbar */
  .logo img {
    width: 120px;
  }
  .nav-items {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: black;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-radius: 0;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
  }

  .button {
    display: none;
  }

  .mble-btn {
    display: flex;
  align-items: center;
  }

  #menu-checkbox:checked ~ .nav-items {
    display: flex;
  }

  /* hero */
  .hero {
    padding: 40px 10px 40px 10px;
  }

  .hero-title {
    font-size: 40px;
    width: 100%;
  }

  .btn-primary {
    gap: 10px;
  }

  .btn-primary img {
    width: 12px;
  }

  /* design */

  .card-container-1,
  .card-container-2,
  .card-con-2 {
    flex-direction: column;
  }

  .design-card,
  .design-card-1 {
    width: 100%;
    box-sizing: border-box;
  }

  .card-title {
    max-width: 200px;
  }

  .more {
    text-align: right;
  }

  /* fav project */
  .fav-content-container {
    gap: 20px;
  }

  .fav-project {
    margin: 40px 0;
  }

  .fav-title {
    width: 100%;
  }

  .fav-content {
    padding: 10px 0;
  }

  .number {
    padding: 5px;
  }

  .fav-c-1.font20 {
    font-size: 11px;
  }

  .fav-c-1 {
    font-size: 18px;
  }

  .fav-1 {
    gap: 10px;
  }

  .fav-img {
    width: 100px;
  }

  .fav-1.fav-2 img {
    width: 16px;
  }

  /* customer */
  .customer-main-container {
    flex-direction: column;
  }

  .customer-c1-c2 {
    max-width: 100%;
    gap: 10px;
    justify-content: start;
  }

  .customer-c3-c4-main {
    flex-direction: column;
  }

  /* creative */
  .creative-container {
    margin: 40px 0;
  }

  .cre-title {
    width: 100%;
  }

  .creative-card-container {
    flex-direction: column;
    align-items: center;
  }

  .cre-img {
    width: 100%;
  }

  /* template */

  .template-container {
    padding-left: 10px;
    flex-direction: column;
  }

  .temp-content {
    max-width: 100%;
  }

  .template-card {
    /* width: 100%; */
  }

  /* circle */
  .circle-div-content {
    flex-direction: column;
  }
  .line {
    right: 10px;
  }
  .line2 {
    display: none;
  }
  .complete {
    font-size: 20px;
  }
  .complete-para {
    font-size: 10px;
  }
  .fruits > div:nth-child(odd) {
    margin-left: 0;
  }
  .line1 {
    right: 40.5%;
  }

  .complete-project {
    padding-right: 10px;
  }
  .circle {
    justify-content: flex-start;
    position: relative;
  }

  .circle-img {
    width: 180px;
  }
  .slider {
    width: 100%;
    height: 100%;
  }
  .arrow-up,
  .arrow-down {
    width: 15px;
  }
  .fruit-content {
    padding: 0 10px;
  }

  .fruit-img {
    width: 100%;
    /* height: auto; */
    /* aspect-ratio: 1/1; */
  }
  .f-n {
    font-size: 50px;
    margin-bottom: -20px;
  }
  .semi-circle-down {
    position: absolute;

    width: clamp(260px, 32vw, 400px);
    height: clamp(260px, 32vw, 400px);

    border-radius: 50%;

    left: clamp(-280px, -22vw, -180px);
    top: 60%;
    transform: translateY(-70%);

    --fill: 120deg;

    background: conic-gradient(
      from 270deg,
      var(--font-white) 0deg,
      var(--font-white) 60deg,
      var(--font-white) 120deg,
      transparent var(--fill),
      transparent 360deg
    );
  }

  .fruit-list {
    padding-right: 20px;
    padding-left: 66px;
  }

  .fruit-list li {
    font-size: 12px;
  }

  /* control */
  .control-brand {
    padding: 40px 15px;
    margin: 40px 0;
  }

  .control-title,
  .control-para {
    width: 100%;
  }

  .control-p-btns {
    flex-direction: column;
    gap: 20px;
  }

  .btns-div {
    gap: 0;
  }

  .btn-3 {
    padding: 4px 6px;
    white-space: nowrap;
  }

  .btn-3 img {
    width: 15px;
  }

  /* footer */
  .footer-main-div {
    padding: 0;
  }

  .logo-c-btn {
    width: 100%;
  }

  .logs-links-div {
    gap: 60px;
  }

  .f-1 {
    flex-direction: column;
    gap: 30px;
  }

  .f-market img {
    width: 80%;
  }

  .f-usa-div {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    margin-top: 0;
  }

  .f-us-content {
    width: 100%;
    gap: 5px;
  }

  .webermelon {
    width: 100%;
  }

  .social-icons {
    gap: 10px;
  }

  .social-icons img {
    width: 16px;
  }

  .copy {
    text-align: right;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .font16 {
    font-size: 10px;
  }

  .font18 {
    font-size: 11px;
  }

  .font20 {
    font-size: 12px;
  }

  .font22 {
    font-size: 13px;
  }

  .font24 {
    font-size: 14px;
  }

  .font28 {
    font-size: 15px;
  }

  .font48 {
    font-size: 20px;
  }

  .font64 {
    font-size: 25px;
  }

  .nav-items {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: black;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-radius: 0;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
  }

  .button {
    display: none;
  }

  .mble-btn {
    display: block;
  }

  #menu-checkbox:checked ~ .nav-items {
    display: flex;
  }

  /* hero */
  .hero {
    padding: 40px 10px 40px 10px;
  }

  .hero-title {
    font-size: 40px;
    width: 100%;
  }

  .btn-primary {
    gap: 10px;
  }

  .btn-primary img {
    width: 12px;
  }

  /* design */

  .card-container-1,
  .card-container-2,
  .card-con-2 {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .design-card,
  .design-card-1,
  .card-con-2 img {
    width: 100%;
    box-sizing: border-box;
  }

  .card-title {
    max-width: 200px;
  }

  .more {
    text-align: right;
  }

  /* fav project */
  .fav-content-container {
    gap: 20px;
  }

  .fav-project {
    margin: 40px 0;
  }

  .fav-title {
    width: 100%;
  }

  .fav-content {
    padding: 10px 0;
  }

  .number {
    padding: 5px;
  }

  .fav-c-1.font20 {
    font-size: 11px;
  }

  .fav-c-1 {
    font-size: 18px;
  }

  .fav-1 {
    gap: 10px;
  }

  .fav-img {
    width: 100px;
  }

  .fav-1.fav-2 img {
    width: 16px;
  }

  /* customer */
  .customer-main-container {
    flex-direction: column;
  }

  .customer-c1-c2 {
    max-width: 100%;
    gap: 10px;
    justify-content: start;
  }

  .customer-c3-c4-main {
    flex-direction: column;
  }

  /* creative */
  .creative-container {
    margin: 40px 0;
  }

  .cre-title {
    width: 100%;
  }

  .creative-card-container {
    flex-direction: column;
    align-items: center;
  }

  .cre-img {
    width: 100%;
  }

  /* template */

  .template-container {
    padding-left: 10px;
    flex-direction: column;
  }

  .temp-content {
    max-width: 100%;
  }

  /* circle */
  .line {
    right: 10px;
  }
  .line2 {
    display: none;
  }
  .complete {
    font-size: 20px;
  }
  .complete-para {
    font-size: 10px;
  }
  .fruits > div:nth-child(odd) {
    margin-left: 0;
  }
  .line1 {
    right: 27.5%;
  }

  .complete-project {
    padding-right: 10px;
  }

  .circle-img {
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 100%;
  }

  .fruit-img {
    width: 100%;
  }
  .semi-circle-down {
    position: absolute;
    width: clamp(270px, 35vw, 420px);
    height: clamp(270px, 35vw, 420px);

    border-radius: 50%;
    left: clamp(-280px, -22vw, -180px);
    top: 50%;
    transform: translateY(-50%);
  }

  .fruit-list {
    padding-right: 20px;
  }

  .fruit-list li {
    font-size: 12px;
  }

  /* control */
  .control-brand {
    padding: 40px 15px;
    margin: 40px 0;
  }

  .control-title,
  .control-para {
    width: 100%;
  }

  .control-p-btns {
    flex-direction: column;
    gap: 20px;
  }

  .btns-div {
    gap: 0;
  }

  .btn-3 {
    padding: 4px 6px;
    white-space: nowrap;
  }

  .btn-3 img {
    width: 15px;
  }

  /* footer */
  .footer-main-div {
    padding: 0;
  }

  .logo-c-btn {
    width: 100%;
  }

  .logs-links-div {
    gap: 60px;
  }

  .f-1 {
    flex-direction: column;
    gap: 30px;
  }

  .f-market img {
    width: 80%;
  }

  .f-usa-div {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    margin-top: 0;
  }

  .f-us-content {
    width: 100%;
    gap: 5px;
  }

  .webermelon {
    width: 100%;
  }

  .social-icons {
    gap: 10px;
  }

  .social-icons img {
    width: 16px;
  }

  .copy {
    text-align: right;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .font16 {
    font-size: 12px;
  }

  .font18 {
    font-size: 14px;
  }

  .font20 {
    font-size: 15px;
  }

  .font22 {
    font-size: 16px;
  }

  .font24 {
    font-size: 18px;
  }

  .font28 {
    font-size: 20px;
  }

  .font48 {
    font-size: 40px;
  }

  .font64 {
    font-size: 50px;
  }
  /* navbar */
  .logo img{
    width: 180px;
  }
 

  /* hero */
  .hero-title {
    font-size: 60px;
    width: 100%;
  }
  /* design */

  .card-container-1,
  .card-container-2,
  .card-con-2 {
    gap: 12px;
  }
  .design-card,
  .design-card-1 {
    /* align-items: ; */
  }
  .card-con-2 {
    max-width: 61%;
  }
  .icon {
    width: 30px;
  }

  .design-card {
    width: 84%;
  }

  .card-title {
    max-width: 200px;
  }

  .more {
    text-align: right;
  }
  /* customer */
  .customer-main-container {
    flex-direction: column;
  }

  .customer-c1-c2 {
    max-width: 100%;
    gap: 10px;
    justify-content: start;
  }

  /* creative */
  .cre-img {
    width: 100%;
  }
  /* template */
  .template-container {
    padding-left: 10px;
  }
  .temp-content {
    width: 415px;
  }

  /* circle */
  .line {
    right: 10px;
  }
  .line2 {
    display: none;
  }
  .complete {
    font-size: 20px;
  }
  .complete-para {
    font-size: 10px;
  }
  .fruits > div:nth-child(odd) {
    margin-left: 0;
  }

  .line1 {
    right: 280px;
  }

  .line2 {
    right: 550px;
  }

  .complete-project {
    padding-right: 10px;
  }

  .circle-img {
    width: 100%;
  }

  .fruit-img {
    width: 100%;
  }
  .semi-circle-down {
    width: 400px;
    height: 400px;
    left: -280px;
  }

  .fruit-list {
    padding-right: 20px;
  }

  .fruit-list li {
    font-size: 12px;
  }

  /* control */
  .control-title {
    width: 100%;
  }
  .btns-div {
    gap: 0;
  }
  .btn-3 {
    padding: 12px;
    white-space: nowrap;
  }

  /* footer */
  .f-1,
  .logs-links-div {
    gap: 100px;
  }
  .f-usa-div {
    gap: 20px;
  }
  .webermelon {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .c-1 h1 {
    font-size: 50px;
  }

  .customer-c3-c4 {
    justify-content: space-between;
  }

  .c-2 img {
    width: 100%;
  }

  /* creative */
  .cre-img {
    width: 100%;
  }

  /* circle */
  .line {
    right: 10px;
  }

  .line1 {
    right: 280px;
  }

  .line2 {
    right: 550px;
  }

  .complete-project {
    padding-right: 10px;
  }

  .circle-img {
    width: 100%;
  }

  /* .fruit-img{
    width: 230px;
    height: 220px;
  } */
  .semi-circle-down {
    width: 320px;
    height: 320px;
    left: -200px;
  }

  .fruit-list {
    padding-right: 20px;
  }

  .fruit-list li {
    font-size: 12px;
  }
}
